services:
  mailserver:
    image: mailserver/docker-mailserver:latest
    container_name: mailserver

    hostname: mail
    domainname: ${MAIL_DOMAIN}

    ports:
      - "25:25"
      - "143:143"
      # - "993:993"
      # - "587:587"

    volumes:
      - ./maildata:/var/mail
      - ./mailstate:/var/mail-state
      - ./config:/tmp/docker-mailserver/
      - /etc/localtime:/etc/localtime:ro

    environment:
      - ENABLE_RSPAMD=0
      - ENABLE_CLAMAV=0
      - PERMIT_DOCKER=host
      - SSL_TYPE=manual
      - SSL_CERT_PATH=/tmp/docker-mailserver/ssl/cert.pem
      - SSL_KEY_PATH=/tmp/docker-mailserver/ssl/key.pem

    cap_add:
      - NET_ADMIN
      - SYS_PTRACE

    restart: unless-stopped


  api:
    build:
      context: ./api
      dockerfile: Dockerfile

    container_name: mail-api

    env_file:
      - .env

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

    ports:
      - "8080:8080"

    restart: unless-stopped


networks:
  default:
    name: mailnet
